root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Code files specific overrides
[*.{cpp,h,c}]
indent_style = space
indent_size = 4

# CMake specific
[CMakeLists.txt]
indent_style = space
indent_size = 4

# Resources/Windows specifics
[*.{vcxproj,sln,rc}]
end_of_line = crlf
charset = utf-8-bom
